@font-face {
	font-family: 'uni_sans_heavy';
	src: url('/fonts/uni_sans_heavy.eot');
	src: url('/fonts/uni_sans_heavy.eot?#iefix') format('embedded-opentype'),
			 url('/fonts/uni_sans_heavy.woff2') format('woff2'),
			 url('/fonts/uni_sans_heavy.woff') format('woff'),
			 url('/fonts/uni_sans_heavy.ttf') format('truetype'),
			 url('/fonts/uni_sans_heavy.svg#uni_sansheavy_caps') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'uni_sans_thin';
	src: url('/fonts/uni_sans_thin.eot');
	src: url('/fonts/uni_sans_thin.eot?#iefix') format('embedded-opentype'),
			 url('/fonts/uni_sans_thin.woff2') format('woff2'),
			 url('/fonts/uni_sans_thin.woff') format('woff'),
			 url('/fonts/uni_sans_thin.ttf') format('truetype'),
			 url('/fonts/uni_sans_thin.svg#uni_sansthin_caps') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Lato_Regular';
    src: url('/fonts/latoregular.eot');
	src: url('/fonts/latoregular.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/latoregular.woff2') format('woff2'),
         url('/fonts/latoregular.woff') format('woff'),
         url('/fonts/latoregular.ttf') format('truetype'),
         url('/fonts/latoregular.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato_Black';
    src: url('/fonts/latoblack.eot');
	src: url('/fonts/latoblack.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/latoblack.woff2') format('woff2'),
         url('/fonts/latoblack.woff') format('woff'),
         url('/fonts/latoblack.ttf') format('truetype'),
         url('/fonts/latoblack.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato_Light';
    src: url('/fonts/latolight.eot');
	src: url('/fonts/latolight.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/latolight.woff2') format('woff2'),
         url('/fonts/latolight.woff') format('woff'),
         url('/fonts/latolight.ttf') format('truetype'),
         url('/fonts/latolight.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato_Bold';
    src: url('/fonts/latobold.eot');
	src: url('/fonts/latobold.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/latobold.woff2') format('woff2'),
         url('/fonts/latobold.woff') format('woff'),
         url('/fonts/latobold.ttf') format('truetype'),
         url('/fonts/latobold.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  	font-family: 'RUBSN';
  	src: url('/fonts/RUBSN.otf')  format('opentype'),
  		 url('/fonts/RUBSN.eot?#iefix') format('embedded-opentype'),  
	     url('/fonts/RUBSN.woff') format('woff'), 
	     url('/fonts/RUBSN.ttf')  format('truetype'), 
	     url('/fonts/RUBSN.svg#RUBSN') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin lato( $type: regular ) {
	@if $type == bold {
		font-family: 'Lato_Bold', Arial, sans-serif;
		font-weight: 700;
	}	@else if $type == light {
		font-family: 'Lato_Light', Arial, sans-serif;
		font-weight: 100;
	}	@else {
		font-family: 'Lato_Regular', Arial, sans-serif;
		font-weight: 200;
	}
}

h1, h2, h3, h4, h5, h6 {

  	font-weight: 400;
	
	&.strong,
	&.bold,
	& span.strong,
	& span.bold
		{font-weight: 700;}

	&.slender, 
	&.slim,
	& span.slender,
	& span.slim 
		{font-weight: 200;}

	&.thin,
	& span.thin, 
	&.light,
	& span.light
		{font-weight: 100;}
}

h1 {
	font-family: uni_sans_heavy;
	font-size: 61px;
}

h2 {
	font-family: uni_sans_heavy;
	font-size: 41px;
}

h3 {
	font-family: uni_sans_heavy;
	font-size: 30px;

	&.alt {
		@include lato;
	}

	&.extra {
		@include lato;
		font-size: 24px;
	}
}

h4 {
	@include lato( light );
	font-size: 20px;
	
	&.alt {
		@include lato;
		font-weight: 700px;
	}

	&.extra {
		font-family: uni_sans_heavy;
		font-size: 16px;
	}

}

h4 {
	@include lato( light );
	font-size: 20px;
	font-weight: 100;
	
	&.alt {
		font-family: 'Lato_Regular', Arial, sans-serif;
		font-weight: 700px;
	}

	&.extra {
		font-family: uni_sans_heavy;
		font-size: 16px;
	}

}

h5 {
	font-family: uni_sans_thin;
	font-size: 14px;
	&.wide {
		letter-spacing: .5em;
	}
}

h6 {
	@include lato( bold );
	font-size: 10px;
	text-transform: uppercase;
}

p {
	//font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
	@include lato;
	font-size: 16px;
	line-height: 125%;
	font-weight: 200;

	& .small {
		font-size: smaller;
	}
}

b {
	font-family: 'Lato_Bold', Arial, sans-serif;;
}


.card {
	
	.date {
		@include lato( bold );
		font-size: 33px;
	}
	
	.day {
		@include lato( bold );
		font-size: 16px;
	}

	.month,
	.info {
		@include lato( bold );
		font-size: 10px;
	}

	.count {
		@include lato( bold );
		font-size: 18px;
	}
}